
.search {
    padding: 2px;
    visibility: visible;
    border-radius: 10px;
    border: solid;
    width: 100%;
    margin: auto;
    outline: none;
    transition: all .5s;
    }
    
    .search:hover {
        box-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff;
    }
    
    #sign-up label {
        font-weight: bold;
    }

.search-container {
    display: flex;
    min-width: 24%;
}
.search-icon{
    height: 23px;
    width: 23px;
    background: red;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #fff;
    display: flex;
    float: right;
    font-size: 20px;
    border: none;
    cursor: pointer;
    position: relative;
    right: 24px;
    top: 0px;
}

.search-icon span{
    transform: rotate(-57deg);
}

.active{
    width: 100%;
}

.profile_image{
    border-radius: 60px;
    max-width: 48px;
    height: 40px;
    /* top: 55px; */
    /* left: 12px; */
    position: relative;
}

.left-nav {
    background-color: gainsboro;
    float:left;
    display:flex;
    /* max-width: 14%; */
    /* position: fixed; */
    /* margin-top: 79px; */
}

.profile {
    align-items: center;
    /* display: flex; */
    flex-wrap: wrap;
}
.profile h4 {position: absolute;margin: 0px 50px;font-size: small;}

.main {
    background-color: white;
    /* display: flex; */
    /* min-width: 38%; */
    /* height: 185px; */
    /* flex: 1; */
    width: 38%;
    float: left;
}

.post-container {
    margin: 20px 1px 25px 11px;
}

.postinput {
    /* border-radius: 30px; */
    resize: none;
    /* width: 30.1pc; */
    /* padding-block-start: 11px; */
    /* padding: 8px 77px; */
    overflow: hidden;
}

#message li {
     position: relative;
     cursor: text;
     font-weight: bold;
     word-wrap: break-word;
}

.right {
    float: right;
    background-color: aliceblue;
    height: 175px;
    width: 28%;
}

.details {
    display: flex;
    margin: 30px 15px;
    align-items: center;
}

.post-container > h4{
    margin: 0px 11px 0px -4px;
    background-color: whitesmoke;
    height: 23px;
    width: 99%;
    border: solid 1px;
}





.post-content {
    /* background-color: ghostwhite; */
    /* border: solid 0.4px; */
    margin: 17px 0 10px -6px;
    /* display: none; */
    max-width: 487px;
}

.post-content .details{
    margin: 16px 24px;
}

.clones {
    position: absolute;
    background-color: ghostwhite;
    /* border: solid 0.4px; */
    margin: 50px 0;
    /* display: none; */
    width: 484px;
}


.contents{
    overflow: hidden;
    /* margin: 15px; */
    /* border-radius: 5px; */
    border: 1.5px solid #ccc;
    }
    textarea{
    width: 100%;
    height: 80px;
    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border-bottom: 2px solid #ddd;
    }
    #posts{margin-top: 38px;/* display: flex; */}
    .post{
    position: relative;
    padding: 12px;
    border: solid;
    background-color: ghostwhite;
    margin-bottom: 34px;
    left: -2px;
    }
    .imgpf{
    top: 1px;
    left: 12px;
    width: 53px;
    height: 42px;
    border-radius: 50%;
    position: absolute;
    }
    .name{
    font-weight: bold;
    margin-left: 60px;
    }
    .post p{margin-top: 12px;/* left: 12px; */position: relative;word-break: break-word;/* line-height: 21px; */}

    #submit{
    width: 57px;
    height: 32px;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    border: none;
    background: darkcyan;
    float: right;
    cursor: pointer;
    position: relative;
    right: 3px;
    top: -2px;
    }

    #submit:hover {
        background-color: #3ea3a5;
    }


    #posts hr {
        margin: 16px 0 0 -6px;
    }

    .extra {
        position: absolute;
        margin: -2px 9px;
    }
    .extra button {
        margin-right: 12px;
        background-color: rgb(196, 209, 208);
        border-radius: 22px;
        padding: 6px;
        cursor: pointer;
        z-index: 1;
        font-size: 10px;
    }

    .extra button:hover {
        background-color: #d3e2e2;
    }
    .option {
        margin:4px 0;
    }

    .option button {
        background-color: turquoise;
        margin-right: 17px;
        border-radius: 12px;
        font-size: 14px;
        width: 59px;
        cursor: pointer;
    }

    .option button:hover {
        background-color: #18ffffa3;
        color: #908a86;
        box-shadow: 0px 3px 3px 0px black;
    }
    #previewBox {
        width: 111px;
        max-height: 113px;
        border: solid 2px #dddd;
        /* position: absolute; */
        margin-top: 39px;
        align-items: center;
        display: none;
        align-content: center;
        /* font-weight: bold; */
    }
    
#img-preview {
    /* display: none; */
}

.imgpost {
    position: relative;
    display: block;
    margin-top: 18px;
    width: 78%;
    max-height: 20pc;
    left: 10%;
    cursor: pointer;
}

.commentBox {
    margin-top: 10px;
    justify-content: center;
    overflow: hidden;
    display: none;
}

.commentArea{
    width: 92%;
    border-radius: 7px;
    outline: none;
    height: 15px;
    border: solid 2px gray;
    overflow: hidden;
    resize: none;
}

.commentArea:focus {
  border-color: cornflowerblue;
}

.commentContent{
    background-color: darkcyan;
    min-height: 63px;
    margin-top: 23px;
    border-radius: 34px;
    position: relative;
    /* display: none; */
    align-items: center;
}

.comment input {
    border-radius: 23px;
    padding: 4px 158px;
    
}

.comment input::placeholder {
    left: 0;
    position: relative;
}

.sidenav {
    border: solid #a37d7d 1px;
    height: 221px;
    
}

#change {
    position: relative;
    font-size: 9px;
    text-align: center;
    border: solid 0.5px;
    margin-top: 55px;
    background-color: cornflowerblue;
    padding: 1px;
    cursor: pointer;
    visibility: hidden;
    font-weight: bold;
    right: 55px;
    border-radius: 14px;
}

#change:hover{
    color: azure;
}

#pr {
    top: 6px;
    line-height: normal;
}


#modal {
    position: absolute;
    background-color: cadetblue;
    width: 27pc;
    border: solid;
    z-index: 1;
    visibility: hidden;
    /* right: 19px; */
    margin-top: 34px;
}

#modal img {
    cursor: unset;
}
.visible {
    visibility: hidden;
}

.modalTitle {
            position: relative;
            z-index: 1;
            background: antiquewhite;
            width: 100%;
            opacity: 0.7;
}

.modal img {
    cursor: default;
}

.close {
    position: relative;
    float: right;
    /* right: 10px; */
    border: solid black;
    cursor: pointer;
    color: red;
    font-size: 13px;
    font-weight: bold;
    bottom: 11px;
    
    background-color: white;
}

.close:hover{
    background-color: cornsilk;

}

.fa {
    color: aliceblue;
    cursor: pointer;
}
.fa:hover {
    background-color: #8aabba;
}

.notifs {
    position: relative;
    left: -3px;
}

.num{
    right: 5px;
    color: red;
    cursor: pointer;
    font-size: 11px;
    position: absolute;
    font-weight: bold;
    top: 2px;
}

#dropbtn {
    background-color: #3498DB;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

#dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    right: -65px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 134px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.nopr,.notifPr {
    color: red;
    font-size: 13px;
}

#myDropdown:hover   {
    background-color: aliceblue;
}

.notifImg {
    /* display: none; */
    display: block;
    margin: 0 auto;
    margin-block-start: 15px;
    width: 95px;
    height: 50px;
}


#commentBtn{
    width:72px;
}

.dropdown-content a {
    margin-block-start: -7px;
    color: blue;
    display: block;
    font-weight: bold;
    font-size: 13px;
    position: relative;
}

.menu {
    float: right;
    cursor: pointer;
}
.menu:hover {
    color: #3ea3a5;
}

.dot:hover{
    background-color: #a37d7d;
}

.dot {
    margin-left: 4px;
    height: 10px;
    width: 10px;
    background-color: #38474e;
    border-radius: 41%;
    display: inline-block;
}

.menu .dropdown-content {
    right: -17px;
    min-width: 82px !important;
    font-size: 12px;
    text-align: center;
    margin-inline-end: 17px;
    /* top: 31px; */
    color: crimson;
}

.pop {
    position: absolute;
    background-color: cadetblue;
    height: 5pc;
    width: 15pc;
    justify-content: center;
    align-items: center;
    transform: translate(7pc, 0pc);
    z-index: 1;
    display: none;
}

.confirm {
    position: relative;
    bottom: 20px;
    color: aliceblue;
    font-size: 15px;
}

.confirmBtn {
    position: absolute;
    margin-top: 10px;
}

#yes {
    background-color: paleturquoise;
    margin-right: 5px;
}



.commentContent .imgpf {
    height: 33px;
    width: 38px;
    top: 12px;
}

.commentContent .name {
    position: relative;
    /* top: 8px; */
}

.commentContent .commentPr {
    margin-top: 0px;
    left: 8px;
    color: aliceblue;
    line-height: unset;
    top: 11px;
    max-width: 63%;
    margin-bottom: 21px;
    max-inline-size: 229px;
}

.commentContent .menu {
    position: absolute;
    right: 3px;
}

.commentContent .pop {
    height: 4pc;
    width: 12pc;
    transform: translate(9pc, 1px);
}

.when {
    position: absolute;
    top: 30px;
    left: 65px;
    color: #4bcbff;
    font-size: 14px;
}

  .time {
    top: 47px !important;
    left: 58px !important;
}

.commentContent .tooltip .tooltiptext{
    /* visibility: hidden!important; */
    top: 39px !important;
    left: 199px !important;
}

.commentContent .tooltip .tooltiptext::after{
    content: '' !important;
    border-color: #E91E63 transparent transparent transparent !important;
    margin-left: -8px !important;
    top: 50% !important;
    border-width: 6px !important;
    transform: rotate(53deg) !important;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 50px;
    background-color: blue;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    /* padding: 5px 0; */
    position: absolute;
    z-index: 1;
    left: 43%;
    top: 17px;
    margin-left: -56px;
    opacity: 0.5;
    font-size: 10px;
  }
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 76%;
    left: -1%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #607D8B transparent transparent transparent;
    transform: rotate(45deg);
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .commentContent .remove {
    font-size: 12px;
}

.commentContent .dropdown-content {
    left: -20px;
}

.hide {
    display: none;
}

.dropdown-content span {
    margin-bottom: 3.5px;
    display: inline-block;
}
.dropdown-content span:hover {
    background-color: aqua;
}

.hash {color: blue;}

.hash:hover {
    text-decoration: underline;
}

.notifContainer{
    border:solid 0.5px dimgray;
    margin-bottom: 5px;
    box-shadow: 1px 4px 6px cornflowerblue;
}